body {
    background-color:#a2b9bc;
    margin: 0;
    padding-top: 0;
    display: flex;
    flex-flow: column nowrap;
}

.main {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #b2ad7f;
    padding: 8px;
}
.container {
    outline: 8px solid black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-color: white;
    width: 640px;
    height: 640px;
    margin-top: 8px;
    margin-left: 100px;
    margin-bottom: 8px;
    box-shadow: 15px 10px 10px #6b5b95;
}

.control {
    outline: 2px solid black;
    background-color: #878f99;
    display: flex;
    flex-flow: column nowrap;
    padding: 4px;
    gap: 8px;
    top: 0;
    left: 0;
    height: 100vh;
    min-width: 280px;
    border-radius: 8px;
}

h3 {
    color: #6b5b95;
    font-size: 28px;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

label {
    color:honeydew
}

.sliders{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 380;
    height: auto;
    padding: 8px;
}

.colors {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.sizes {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.panel{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: none;
    border-radius: 80px;
}

.row {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.square {
    outline: 2px solid gray;
    flex: 1 1 auto;
    color: white;
    background-color: white;
}

a:link, i {
    color: black;
}

i:hover {
    color: #AEC6CF;
    transition: 0.4s;
    cursor: pointer;
}

button {
    font-size: 16px;
    font-weight: 700;
    background-color: #6b5b95;
    border: none;
    width: 126px;
    height: 28px;
}

button:hover {
    color: gray;
    transition: 0.4s;
    cursor:pointer;
}

.container:hover {
    cursor: crosshair;
}

.brushSize:hover, .gridSize:hover, .windowSize:hover {
    cursor: grab;
}

.color:hover .eraserColor:hover, .boardColor:hover{
    cursor: alias;
}

.tip {
    font-size: 12px;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 8px;
    font-size: 14px;
    text-align: center;
    max-height: 32px;
    margin-bottom: 0;
}

.notes {
    max-height: 15vh;
    margin-bottom: 0;
}